<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ipoki.plugin"
      android:configChanges="orientation" 
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/launcher" android:label="@string/app_name" android:debuggable="true">
		<uses-library android:name="com.google.android.maps" />
        <activity android:name=".Main"
                  android:label="@string/app_name" 
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Setup" android:label="Ipoki Setup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    <activity android:name=".Mymap" android:label="My Map">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
    </activity>

    <activity android:name=".FriendsView" android:label="My Ipoki friends">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
    </activity>

    <activity android:name=".Friendmap" android:label="Where are my friends?">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
    </activity>

    <activity android:name=".Friendshow" android:label="Friend data">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
    </activity>

    <activity android:name=".IpokiAR" android:label="Augmented Reality">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
    </activity>

</application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.SET_ORIENTATION"></uses-permission>
     
    <uses-sdk android:minSdkVersion="3" />
</manifest> 